
pallette {
	#2583E7
	#272092
	#773302
}

body {
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
}

/***************HEADER****************/
.top-row {
	background-color: #3A539B;
	height: 175px;
	margin-top: 10px;
}

.header {
	width: 100%;
	padding: 1%;
}

.logo {
	font-family: 'Nunito', sans-serif;
	line-height: 1.2;
	font-size: 1.8rem;
	width: 150px;
	padding: 5px;
	font-weight: 700;
	color: white;
}

.logobox {
	background-color: #3A539B;
	border-bottom: solid 3px white;
	border-top: solid 3px white;
	width: 175px;
	height: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}

.logo h1 {
	margin: auto;
	color: white;
}

.nav-items li {
	display: inline-block;
	text-decoration: none;
}

.nav-items {
	position: relative;
	top: -58px;
	float: right;
	font-size: 1.1rem;
	/*background: #2c3e50;*/
	padding: 15px;
}

.nav-items a:hover {
	background-color: #59ABE3;
	opacity: 2;
}

.nav-items li a {
	padding: 20px;
	color: white;
}

.main-img {
	border-radius: 10px;
	position: relative;
}

.subhead {
	font-size: 1rem;
	line-height: 1rem;
}
/****************ABOUT ESL CLASSES ******************/
.first-row {
	background-color: #ECF0F1;
	width: 100%;
	padding: 15px;
	margin: 35px auto;
	margin-top: 40px;
}

.emphasis {
	color: orange;
	font-weight: bold;
}

.green {
	color: green;
}

h2, h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 1.8rem;
}

.faq {
	font-size: 1.5rem;
	list-style: none;
}

.fa-pencil-square-o {
	font-size: 10rem;
	color: #6C7A89;
	text-align: center;
	position: relative;
	left: 55px;
	top: 25px;
}

/*************VOLUNTEER ROW******************/

.fa-book {
	font-size: 10em;
	color: #3A539B;
	position: relative;
	left: 60px;
	top: 80px;
}

.volunteer-row {
	background-color: #ECF0F1;
}

.tutor-info {
	padding: 20px;
}

/******************JQUERY UI*******************/

.ui-accordion {
	background-color: none;
	font-size: 1.4em;
	border: 0;
}


#accordion .ui-accordion-header {
  background-image: none;
  background-color: white;
  color: black;
 
}
/*.demoHeaders {
	margin-top: 1em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}*/